@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-5">
    <h1 class="display-4 fw-bold text-green">Welcome To MR.QUIZ</h1>
</div>

<div class="text-center">
    <h3 class="display-4 fw-bold text-primary align-text-bottom"> Prepare Yourself!!</h3>
</div>
