<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Current Password</label>
        <input type="password" name="currentPassword" class="form-control" required />
    </div>

    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-warning">Change Password</button>

    @if (ViewBag.Message != null)
    {
        <div class="text-danger mt-2">@ViewBag.Message</div>
    }
}
